---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$baseurl: '{{ site.baseurl }}';

$base-font-family: "Times", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// $pink:             #926F49;
$pink: #CC9966;

$beige: #E0D2B8;
$marron: #926F49;



// Width of the content area
$content-width:    860px;

$on-palm:          600px;
$on-laptop:        860px;

$on-medium-screen: 1200px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home",
        "galerie",
        "salon",
        "services",
        "boutique",
        "contact",
        "actualites",
        "toilettage-chiens",
        "toilettage-chats",
        "alimentation",
        "hygiene",
        "accessoires",
        "jouets",
        "photoswipe",
        "syntax-highlighting"
;
