---
layout: page
title: Accessoires
permalink: /services/boutique/accessoires/
parent: Boutique
parentUrl: /services/boutique/
level: 3
order: 3
---


<div class="accessoires">
    <section class="section-accessoires">

      <img class="left-image" src="{{site.baseurl | append:'/assets/img/nouveau.png'}}" alt="Nouveauté" title=""/>
  
      <img class="croquettes" src="{{site.baseurl | append:'/assets/img/boutique/images.jpg'}}" alt="Medailles" title="Medailles"/>

      <p><br/><strong> Unique sur Millau !</strong><br/> 
      Venez découvrir chez Ambre et cie, le système de gravure instantanée de médailles MyFamily.<br/>
      Il vous permet de graver la médaille de votre compagnon en 2 minutes, facilement et indépendamment.<br/>
      Vous pourrez choisir, la forme, la couleur et meme la taille !
    </p>

      <br/><img class="croquettes" src="{{site.baseurl | append:'/assets/img/boutique/Capture.jpg'}}" alt="Medailles" title="Medailles"/>

    <div class="separator"></div>

      <img class="monjouet" src="{{site.baseurl | append:'/assets/img/boutique/logo.png'}}" alt="logo-trixie" title="logo-trixie"/><br/> 
  
    <p><br/> Trixie est une marque d’accessoires pour animaux de compagnie allemande. Depuis près de 40 ans, la marque place l’animal au centre de ses préoccupations.<br/> 
    Ses produits sont destinés aux chiens, aux chats, mais aussi aux petits mammifères.<br/>
  Chez Ambre et cie on vous propose plusieurs produits pour vos compagnons, comme des lits, des laisses, colliers et harnais, des sacs de transport, des chatières, des jouets, des arbres à chat, des vêtements pour chien… 
  Une gamme d’accessoires pour animaux large et complète.<br/>
  Faites confiance au savoir-faire de cette marque allemande Trixie pour vos accessoires pour animaux en tout genre.</p>

  <img class="monjouet2" src="{{site.baseurl | append:'/assets/img/boutique/Trixie.jpg'}}" alt="trixie" title="trixie"/><br/> 

    

    </section>
  </div>