---
layout: page
title: Actualités
permalink: /actualites/
level: 1
order: 4
---

<div class="actualites">
  <div class="new-section">
    
    <img class="main-image image-new" src="{{site.baseurl | append:'/assets/img/actualites/parrainage.png'}}" alt="Parrainage" />
  </div>

  <div class="separator"></div>
  
  <img class="main-image image-ambre" src="{{site.baseurl | append:'/assets/img/actualites/article-danger.png'}}" alt="Danger" />

  <div class="separator"></div>

  <img class="main-image image-ambre" src="{{site.baseurl | append:'/assets/img/actualites/Bienvenue.jpg'}}" alt="Bienvenue" />

  <div class="separator"></div>
  
  <img class="main-image image-ambre" src="{{site.baseurl | append:'/assets/img/actualites/1an.jpg'}}" alt="1 an" />

  <div class="separator"></div>

  <img class="main-image image-ambre" src="{{site.baseurl | append:'/assets/img/actualites/Actualite.jpg'}}" alt="toilettage SPA" />

  <div class="separator"></div>
  
  <img class="main-image image-ambre" src="{{site.baseurl | append:'/assets/img/actualites/MidiLibre.jpg'}}" alt="Article journal du midi libre" />

  <img class="image-fidelite" src="{{site.baseurl | append:'/assets/img/actualites/Carte-fidelite.png'}}" alt="Carte de fidélité" />

</div>
