---
layout: page
title: Alimentation
permalink: /services/boutique/alimentation/
parent: Boutique
parentUrl: /services/boutique/
level: 3
order: 1
---

<div class="alimentation">
  <section class="section-croquettes"> 
  
    <img class="new" src="{{site.baseurl | append:'/assets/img/boutique/orijen-chats.png'}}" style="width: 400px;" alt="Orijen" title="Orijen"/>

   

    <p><br/><br/>
        Nouveau chez Ambre&Cie, Les croquettes Orijen pour chien offrent une alimentation riche en viande et protéines, sans céréales, idéal pour le régime carnivore des chiens et chats, de tout âges. <br/>

      <br/>Pauvre en glucides, la croquette Orijen chien répond à la norme HFC (Human Food Consumption), c’est-à-dire propre à la consommation humaine.
      <br/>La provenance des viandes ou des poissons est respectueuse de l’animal au sein d’élevages responsables soucieux de l’environnement. 
      <br/>Fruits et plantes agrémentent cette croquette élaborée pour fortifier la santé de vos animaux de compagnie : carottes, épinards, canneberges, curcuma, lavande, fruits de l’églantier entre autres, la glucosamine et la chondroïtine pour des articulation solides!
    </p>
    
    <img class="croquettes" src="{{site.baseurl | append:'/assets/img/boutique/Orijen-chiens-chats.webp'}}" alt="Croquettes et pâtées" title="Croquettes et pâtées"/>

    <br/><br/><div class="separator"></div>

    <img class="croquettes" src="{{site.baseurl | append:'/assets/img/boutique/gammes.jpg'}}" alt="Croquettes et pâtées" title="Croquettes et pâtées"/>

    <p><br/>La marque française Atavik se situe à Brillon et propose une large gamme des croquettes sans céréales pour chien et chat, des pâtés, friandises et compléments alimentaires.<br/>
    Fabriquée à base des matières premières propres à l'alimentation humaine, la nourriture Atavik n'est composée que des ingrédients de qualité. 
    Les aliments sont fabriqués en France.<p>
    <img class="croquettes" src="{{site.baseurl | append:'/assets/img/boutique/Atavik.webp'}}" alt="Croquettes et pâtées" title="Croquettes et pâtées"/>
  </section>
</div>
