---
layout: page
title: Boutique
permalink: /services/boutique/
parent: Services
parentUrl: /services
level: 2
order: 3
---

<div class="boutique">

 <section class="new-section clearfix"> 
    <div class="container-left">
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="teaser">Cabine d'essayage<br/> version table d'essayage<br/> pour chiens<br/> made in Ambre&Cie !</div>
    </div>
    <div class="container-right">
        <img class="essayage" src="{{site.baseurl | append:'/assets/img/boutique/essayage.jpg'}}" alt="Essayage" title="Essayage"/>
    </div>
  </section>
  
  <div class="separator"></div>

  <section class="new-section-mug"> 
    <div>
      <!-- <img class="new" src="{{site.baseurl | append:'/assets/img/nouveau.png'}}" alt="Nouveauté" title=""/> -->
      <img class="woof" src="{{site.baseurl | append:'/assets/img/accueil/woof.jpg'}}" alt="" title=""/>
    </div>
    <div class="cadeaux clearfix">
        <img class="cadeau" src="{{site.baseurl | append:'/assets/img/accueil/cadeau1.jpg'}}" alt="" title=""/>
        <img class="cadeau" src="{{site.baseurl | append:'/assets/img/accueil/cadeau2.jpg'}}" alt="" title=""/>
        <img class="cadeau" src="{{site.baseurl | append:'/assets/img/accueil/cadeau3.jpg'}}" alt="" title=""/>
        <img class="cadeau" src="{{site.baseurl | append:'/assets/img/accueil/cadeau4.jpg'}}" alt="" title=""/>
        <img class="cadeau" src="{{site.baseurl | append:'/assets/img/accueil/cadeau5.jpg'}}" alt="" title=""/>
    </div>
  </section>



</div>
