---
layout: page
title: Contact
permalink: /contact/
level: 1
order: 5
---

<div class="contact">

  <div class="form-container">
    <form class="form-contact" data-tmp-action="{{site.simpleFormToken | prepend:'https://getsimpleform.com/messages?form_api_token='}}" method="post">
      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <input class="input-redirect" type='hidden' name='redirect_to' value="{{ site.url | append:'/confirmation/' }}" />
      <!-- all your input fields here.... -->
      <div class="clearfix">
        <input class="input-form input-jesuisunbot" type='text' name='jesuisunbot' placeholder=""/>
        <input class="input-form" type='text' name='nom' placeholder="Nom*" required/>
        <input class="input-form" type='text' name='prenom' placeholder="Prénom*" required/>
        <input class="input-form" type='email' name='email' placeholder="E-mail*"/>
        <input class="input-form" type='tel' name='telephone' placeholder="Téléphone"/>
        <input class="input-form input-subject" type='text' name='sujet' placeholder="Sujet"/>
        <textarea class="textarea-form" name="message" rows="5" placeholder="Message*" required></textarea>
      </div>
      <input class="submit-button" type='submit' value='Envoyer' />
    </form>

    <!-- <div class="success-message">
      Votre message a bien été envoyé ! Nous vous répondrons dans les meilleurs délais. Merci.
    </div> -->
  </div>



  <div>

  </div>

  <section class="section-coordonnees">
    <h2>Coordonnées</h2>
    <div>
      <a class="tel" href="tel:{{site.telInter}}">{{site.tel}}</a>
    </div>
    <div class="social-container clearfix">
      <span class="links-container clearfix">
        <a class="facebook-link" href="{{site.facebook}}" rel="noopener" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="instagram-link" href="{{site.instagram}}" rel="noopener" target="_blank"><i class="fab fa-instagram"></i></a>
      </span>
    </div>

    <div class="adresse">
      23 avenue de la République<br/>
      12100 MILLAU
    </div>
  </section>

  <div id="mapContainer" style="width: 100%; height: 500px;"></div>

  <section class="section-horaires">
    <h2>Horaires</h2>
    <p class="heures">
      Du Mardi au Samedi<br/>
      9h00 – 12h00<br/>
      13h30 – 17h30
    </p>
    <p class="heures">
      Entre 12h00 et 13h30 rendez-vous possible
    </p>
  </section>

</div>
