---
layout: page
title: Galerie
permalink: /galerie/
level: 1
order: 3
---

<div class="galerie">

  <div class="my-gallery galerie-container clearfix" itemscope itemtype="http://schema.org/ImageGallery">
    {% assign nbImages = 0 %}
    {% for image in site.static_files %}
      {% if image.path contains 'img/galerie' %}

          {% if nbImages < 12 %}
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{ site.baseurl }}{{ image.path }}" itemprop="contentUrl" data-size="800x600">
                <img class="galerie-image" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
              <!-- <figcaption itemprop="caption description">Image caption</figcaption> -->
          </figure>
          {% endif %}
          {% if nbImages >= 12 %}
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{ site.baseurl }}{{ image.path }}" itemprop="contentUrl" data-size="800x600">
                <img class="galerie-image lazy" data-src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
              <!-- <figcaption itemprop="caption description">Image caption</figcaption> -->
          </figure>
          {% endif %}

        {% assign nbImages = nbImages | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>

  {% include photoswipe.html %}

</div>
