---
layout: page
title: Hygiène et soins
permalink: /services/boutique/hygiene/
parent: Boutique
parentUrl: /services/boutique/
level: 3
order: 2
---


    <p style="text-align:center;">
      Schampoings et parfums fabriqués et produits en France par une entreprise familiale !
    </p>


    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/shampooing-aromatic.jpg'}}" style="width: 500px; margin:auto;display:block;"alt="Shampoings Puppy" />

    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/vanille1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/vanille2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/peche1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/peche2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
       <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/aloe1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/aloe2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/moustache1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/moustache2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/gum1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/gum2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/fleuri1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/fleuri2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>

    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/coco1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/coco2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/choco1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/choco2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
  
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/ambre1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/ambre2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>  
 
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/acidulee1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/acidulee2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/ylang1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/ylang2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/musc1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/musc2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/biscuit1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/biscuit2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/diable1.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>
    <img class="image-shampoings" src="{{site.baseurl | append:'/assets/img/boutique/diable2.jpg'}}" style="width:180px" alt="Shampoings Puppy"/>