---
layout: default
---

<div class="home">

  <h1 class="page-heading">Bienvenue au salon de toilettage Ambre&Cie</h1>
 


  <!-- <section class="new-section">
    <div class="new-container">
      <p class="title">
        <span class="title-content">SOLDES, chez Ambre&Cie !</span>
      </p>
      <p>-20% sur TOUS les pulls et manteaux</p>
      <p>-50% sur les jouets et pulls de Noël</p>
      <p class="autres">Et pleins d'autres bonnes affaires sur une sélection de jouets et d'accessoires pour chiens et chats !</p>

      <img class="new" src="{{site.baseurl | append:'/assets/img/accueil/soldes.jpg'}}" alt="Soldes" title="Soldes"/>

    </div>
  </section>

  <div class="separator"></div> -->

  <p>
    Chez Ambre et Cie, on accueille tous vos compagnons à 4 pattes,<br class="hide-mobile"/>
    les petits comme les grands, les joyeux comme les grincheux, les chats et les lapins,<br class="hide-mobile"/> toute la compagnie hop au bain !<br class="hide-mobile"/><br/>

    <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Ouverture.jpg'}}" style="width: 500px; margin:auto;display:block;" alt="Tête chien"/>

    <br class="hide-mobile"/> Seuls, des produits naturels sont utilisés pour la mise en beauté de votre animal. <br class="hide-mobile"/>
    Que ce soit pour une coupe de style au ciseaux, une tonte ou un simple rafraîchissement,<br class="hide-mobile"/> vous pouvez compter sur nous.  
    <br class="hide-mobile"/>Tous nos services vous sont proposés sur rendez-vous.
  </p>
  <br/>
  <img class="img-accueil" src="{{site.baseurl | append:'/assets/img/accueil/Vit.jpg'}}" style =" width : 100%;" alt="Salon de toilettage" title="Salon de toilettage"/>

</div>
