---
layout: page
title: Jouets
permalink: /services/boutique/jouets/
parent: Boutique
parentUrl: /services/boutique/
level: 3
order: 4
---

<div class="jouets">
  <section class="section-jouets">


    <img class="monjouet" src="{{site.baseurl | append:'/assets/img/boutique/logo-kong.jpg'}}" style="width: 300px;"  alt="logo-kong" title="logo-kong"/>
    <p>
      Ambre et cie vous propose une large gamme de jouets KONG, qui sont des jouets d'une grande qualité connus pour leur solidité, quasiment indestructibles et spécialement adaptés à chaque animal.
      <br/> Les jouets KONG encouragent le jeu, en satisfaisant les besoins naturels et en renforçant le lien entre vous et votre animal. 
  </p>

  <img class="monjouet" src="{{site.baseurl | append:'/assets/img/boutique/Aide.webp'}}" alt="Aide" title="Aide"/>

  <div class="separator"></div><br/><br/><br/><br/>

  <img class="monjouet jouet-logo" src="{{site.baseurl | append:'/assets/img/boutique/logo.png'}}" alt="logo-trixie" title="logo-trixie"/><br/><br/><br/><br/>  

  <p>Trixie est une marque d’accessoires pour animaux de compagnie allemande. Depuis près de 40 ans, la marque place l’animal au centre de ses préoccupations.<br/> 
  Ses produits sont destinés aux chiens, aux chats, mais aussi aux petits mammifères.<br/><br/><br/><br/><br/> 
</p>
  <img class="monjouet jouet-banniere" src="{{site.baseurl | append:'/assets/img/boutique/jouets-trixie.jpg'}}" alt="logo-trixie" title="logo-trixie"/><br/> 

  </section>
</div>
