---
layout: page
title: Ambre&Cie
permalink: /ambre&cie/
level: 1
order: 1
---

<div class="salon">
  <p>
    Le salon Ambre & Cie a ouvert ses portes le 10 juillet 2018
    afin d'offrir<br class="hide-mobile"/> un lieu de bien-être et d’esthétique pour les chiens et les chats.</p>
    
  <img class="Ouverture" src="{{site.baseurl | append:'/assets/img/accueil/image-logo.jpg'}}" alt="Ouverture" title="Ouverture"/><br/>

  <br/><p>
    Ambre, diplômée de l'Académie d'Art Canin de Montpellier,<br class="hide-mobile"/> cultive
    sa passion pour les animaux depuis toute petite,<br class="hide-mobile"/> c'est donc naturellement qu'après
    son bac, elle s'est dirigée<br class="hide-mobile"/> vers une formation de toilettage et bien-être.
  </p>
  <p>
    Chez Ambre & Cie, votre compagnon à 4 pattes est pris en charge,<br class="hide-mobile"/> on s'occupe de
    lui comme il le mérite, avec douceur et professionnalisme.<br/>
    La toilette se fait en respectant le standard de chaque race et selon vos souhaits.
  </p>
  <p>
    Nous disposons d'une cabine de séchage relaxante par chromo-thérapie.<br/>
    La chromo-thérapie utilise les différentes couleurs pour le bien-être.<br/>
    La couleur apporte des bienfaits sur la santé psychique et émotionnelle.
  </p>
  <p>
    Vous pouvez également lui offrir une séance d'hydrothérapie<br class="hide-mobile"/> dans notre
    baignoire à bulles.<br/>
    Bien connue pour ses bienfaits relaxants grâce à la profonde relaxation que cela procure.
  </p>
  <p>
    N'oubliez pas que votre animal de compagnie est un être vivant,<br class="hide-mobile"/> doué de sensibilité,
    il faut savoir composer avec son humeur, ses peurs et ses angoisses,<br class="hide-mobile"/>
    dans le salon nous prenons le temps pour chacun d'eux.
  </p>

  <img class="main-image" src="{{site.baseurl | append:'/assets/img/ambre&cie/Diplome.jpg'}}" alt="Certificat de stage" />
</div>
