---
layout: page
title: Services
permalink: /services/
level: 1
order: 2
---

<div class="services">

 

  <h2>Le toilettage</h2>

  <p>Pour éviter le maximum de stress à votre animal, votre toiletteuse travaille<br class="hide-mobile"/>
  sur un client à la fois sur rendez-vous.</p>

  <p>Nous traitons vos animaux comme si c'était les nôtres : avec le plus grand soin<br class="hide-mobile"/> et,<br class="hide-mobile"/>
  surtout, avec amour.</p>

 

  <p>Nous sommes en mesure d'effectuer la tonte selon le standard établi de la race.<br class="hide-mobile"/>
  Toutefois, si vous avez des attentes différentes, nous nous adapterons</p>

  <div class="toilettage-complet">
    Le forfait toilettage complet inclut :
    <ul>
      <li>
        La coupe des griffes
      </li>
      <li>
        Epilation des oreillesS
      </li>
      <li>
        Démêlage
      </li>
      <li>
        Bain en 2 shampoingsS
      </li>
      <li>
        Séchage
      </li>
      <li>
        Coupe
      </li>
      <li>
        Finitions ciseaux
      </li>
      <li>
        Parfum
      </li>
    </ul>

  </div>

  <h2>Séance SPA</h2>

  <p class="pink">Offrez à votre chien son vrai moment de détente !</p>

<img src="{{site.baseurl | append:'/assets/img/accueil/SPA.jpg'}}" style="width: 80%;" alt="Tête de chat surpris"/> <br/><br/>


  <p>Une multitude de bulles s’échappent du fond de la baignoire et procurent un massage doux de très haute qualité. La décontraction et la relaxation apportées aux muscles et aux articulations génèrent un bien-être immédiat.</p>

  <p>L’action combinée de l’Ozone et des milliers de bulles créées par la turbine, purifie l’eau de la baignoire SPA apportant un bienfait absolu au pelage qui s’en retrouve sublimé !</p>




</div>
