---
layout: page
title: Toilettage des chiens
permalink: /services/toilettage-chiens/
parent: Services
parentUrl: /services
level: 2
order: 1
---

<div class="toilettage-chien">

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture1.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>
  
  <p>
    Les chiens ne peuvent se toiletter eux-mêmes. Ils doivent donc être entretenus. Car si la part la plus évidente de la toilette concerne les poils, les soins liés aux yeux, aux oreilles ou aux ongles s’adressent à tous. Faute d’entretien et d’hygiène, votre chien peut être sujet aux mauvaises odeurs, aux parasites, et à diverses maladies.
  </p>

  <div class="toilettage-complet">
    Toilettage complet :
    <ul>
      <li>
       
        Coupe des griffes
      </li>
      <li>
        Epilation/ nettoyage des oreilles
      </li>
      <li>
        Démêlage/ Brossage
      </li>
      <li>
        Bain en 2 shampoings
      </li>
      <li>
        Séchage
      </li>
      <li>
        Coupe
      </li>
      <li>
        Finitions ciseaux
      </li>
    </ul>

    Service à la carte : coupe des griffes, épilation/nettoyage des oreilles, tonte des doigts et coussinets.
  </div>

<img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture2.JPG'}}" style="width: 300px; margin:auto;display:block;" alt="Tête chien"/>

  <p>
    Pour exécuter la toilette complète en coupe courte à la tondeuse, il faudra compter entre  1 heure et 1 heure 30 pour les petites races.
  </p>

  <p>
    Pour les chiens à poils mi-longs ou longs, la toilette complète pour une coupe tout ou en partie aux ciseaux nécessite un démêlage, le temps peut varier selon le temps qui sera consacré au démêlage compter environ 1 heure 30 à 2 heures 30 pour les petites races.
  </p>

  <p>
    Pour les grandes races il faudra compter entre 1 heure 30 et 3 heures.
  </p>

  <h2>La Coupe des griffes</h2>

  <p>La fréquence de la taille des griffes dépendra de l'activité physique de votre chien.</p>

  <p>En règle générale, les grands chiens usent naturellement et correctement leurs griffes (sauf les seniors) mais pour les petites races la coupe est réalisée idéalement tous les 2 mois. </p>

  <p>Si on attend trop longtemps, la griffe s'allonge mais également la veine interne ce qui ne permet plus une coupe suffisante en une fois. Vaut donc mieux couper souvent un peu que d'attendre 6 mois et ne pas savoir couper suffisamment (ou risquer de blesser).</p>

  <p>Les griffes trop longues peuvent se briser et causer des saignements et des douleurs à votre animal.</p>


  <h2>Le brossage</h2>

  <p>Pour les chiens à poils ras, à l’aide d’une brosse éliminer les poils morts.</p>

  <p>Pour les chiens à poils mi-longs à longs, démêlage. Cette étape indispensable avant le bain peut être plus ou moins longue selon l’animal, sa taille et la fréquence de l’entretien par le maître. A l’aide d’une brosse et d’un peigne afin de débarrasser l’animal des poils morts, des nœuds et d’aérer la peau. Il sera utile d’utiliser un démêlant en spray, cela facilitera le travail, évitera d’abîmer le poil et permettra de démêler plus facilement l’animal sans lui faire du mal.</p>

  <p>Le démêlage est indispensable avant le bain, si il reste des nœuds, le poil ne sera pas correctement nettoyé, et le démêlage sera très difficile après.  </p>

  <p>Juste avant le bain, la coupe des ongles, le nettoyage et l’épilation pour certaines races de l’intérieur des oreilles, ne pas oublier de les protéger avec un coton pour le bain.</p>


  <h2>Le nettoyage des oreilles</h2>

  <p>Juste avant le bain nettoyer les oreilles avec une solution de nettoyage auriculaire adaptée, épiler l'intérieur pour certaines races et les protéger avec un coton.</p>

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture4.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <h2>Le bain</h2>

  <p>Bien mouiller le chien à l'eau tiède jusqu'à la peau, faire un premier shampooing adapté au poil de la race ou au problème du chien en massant l’animal pour bien faire rentrer le shampooing dans le poil afin de le nettoyer en profondeur, dégraisser le poil et hydrater la peau, rincer abondamment.</p>

  <p>Renouveler la même opération avec un deuxième shampooing pour raviver la couleur, réparer le poil, et hydrater la peau.</p>


  <h2>Le séchage</h2>

  <p>Après le passage d’un pulseur pour éliminer le maximum d’eau, pulvériser sur le poil un conditionneur notamment pour les cpoils laineux ou longs, pour aider à faire glisser les nœuds éventuels au brushing effectué à l’aide d’un séchoir, et d’une brosse adaptée à la race, afin de mettre en place le poil pour préparer la coupe.</p>

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture3.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <h2>La coupe</h2>

  <p>La coupe s'effectue aux ciseaux ou à la tondeuse, selon le standard de la race, la morphologie de l’animal et le souhait du client, cette étape du toilettage exige un savoir-faire particulier, et nécessite un certain temps, et beaucoup de patience, afin de redonner la beauté naturelle de l’animal. </p>

  <p>Pour les toilettes économiques, le souhait du client ou la nécessité notamment pour les chiens trop emmêlés la tondeuse sera utilisée.</p>


  <h2>Les différentes coupes</h2>

  <!-- <table border="1" class="table-coupes">
    <tr>
      <th>Coupe ciseaux 'Baby'</th>
      <th>Coupe<br/> Mouton</th>
      <th>Coupe<br/> New-look</th>
      <th>Tonte</th>
      <th>Epilation</th>
    </tr>
    <tr>
      <td>Tête, corps et pattes aux ciseaux</td>
      <td>Corps à la tondeuse ( longueur au choix), tête et pattes aux ciseaux</td>
      <td>Corps à la tondeuse, jupe sur le ventre, pattes et tête aux ciseaux</td>
      <td>Corps et pattes à la tondeuse, tête aux ciseaux</td>
      <td>Spécifique de certaines races, poils morts retirés au trimmer, tête et pattes aux ciseaux chez certaines races</td>
    </tr>
  </table> -->


  <section class="section-coupes clearfix">
    <div class="column">
      <div class="titre">
        Coupe ciseaux 'Baby'
      </div>
      <div class="description">
        Tête, corps et pattes aux ciseaux
      </div>
    </div>
    <div class="column">
      <div class="titre">
        Coupe<br class="hide-mobile"/> Mouton
      </div>
      <div class="description">
        Corps à la tondeuse ( longueur au choix), tête et pattes aux ciseaux
      </div>
    </div>
    <div class="column">
      <div class="titre">
        Coupe<br class="hide-mobile"/> New-look
      </div>
      <div class="description">
        Corps à la tondeuse, jupe sur le ventre, pattes et tête aux ciseaux
      </div>
    </div>
    <div class="column">
      <div class="titre">
        Tonte
      </div>
      <div class="description">
        Corps et pattes à la tondeuse, tête aux ciseaux
      </div>
    </div>
    <div class="column">
      <div class="titre">
        Epilation
      </div>
      <div class="description">
        Spécifique de certaines races, poils morts retirés au trimmer, tête et pattes aux ciseaux chez certaines races
      </div>
    </div>
  </section>


</div>
