---
layout: page
title: Toilettage des chats
permalink: /services/toilettage-chats/
parent: Services
parentUrl: /services
level: 2
order: 2
---

<div class="toilettage-chat">

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture6.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <p>Quiconque possède un chat sait à quel point cet animal fait sa toilette avec minutie. La majorité des chats passera une grande partie de sa journée à se toiletter, il ingère une grande quantité de poils qui peut entraîner certaines complications (vomissements de boules de poils, constipation, inflammation ...)
  Ainsi il est préférable d'habituer votre chat à être manipulé et toiletté dès que possible.</p>

  <p>Un poil propre et bien brossé, des yeux et des oreilles nettoyées, des griffes coupées... le chat a besoin de petits soins réguliers afin de le garder avec une peau saine tout au long de sa vie. Cela permettra de minimiser à votre entourage les risques liés à l'allergie. Cela contribue aussi à leur bien-être.</p>

  <div class="toilettage-complet">
    Toilettage complet :
    <ul>
      <li>
        Coupe des griffes
      </li>
      <li>
        Brossage
      </li>
      <li>
        Bain
      </li>
      <li>
        Séchage
      </li>
      <li>
        Nettoyage des oreilles
      </li>
    </ul>

    Service à la carte : coupe des griffes, brossage, nettoyage des oreilles
  </div>
  <p>Pour exécuter la toilette complète, il faudra compter entre 45 minutes et 1 heure 30 pour les chats à poil court.</p>

  <p>Pour les chats à poils mi-longs ou longs, il faudra compter entre 1 heure 30 à 2 heures, pour les chats régulièrement entretenus.</p>

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture5.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <section class="section-coupe-griffes">
    <h2>La Coupe des griffes</h2>

    <p>Selon sa nature et son activité, la fréquence de coupe des griffes est d'une fois par mois à tous les 3 mois. Il faut éviter qu'elles soient trop longues et gênantes, et que votre animal décide de déchirer d'autres surfaces que des grattoirs sur lesquels il réduit la taille de ses griffes en jouant.</p>

  </section>

  <section>
    <h2>Le brossage</h2>

    <p>Pour les poils ras ou courts, utiliser une brosse caoutchouc ou brosse métal (carde) selon l'épaisseur du poil du chat.</p>

    <p>Pour les poils mi-longs et longs, saupoudrer les parties à démêler avec un talc pour dégraisser et rendre le démêlage plus facile avec un peigne où d'une carde.</p>

    <p>Le brossage permet d'éliminer les poils morts et ainsi limite l'ingestion des poils par votre compagnon.</p>
  </section>
  <section>
  <h2>Le nettoyage des oreilles</h2>

  <p>Juste avant le bain nettoyer les oreilles avec une solution de nettoyage auriculaire adaptée, et les protéger avec un coton.</p>
  </section>

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture7.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <section class="section-bain">
    <h2>Le bain</h2>

    <p>Le bain vient compléter le brossage. En effet la peau et le poil du chat graissent naturellement, le bain pratiqué régulièrement avec des shampooings spécifiques permettra de dégraisser l’animal sans le décaper.</p>

    <p>Il est possible de laver un chat par deux méthodes : la douche ou la grande bassine. Dans les deux cas, le bain se fera en deux shampoings, le premier pour nettoyer en profondeur et dégraisser le poil, le deuxième pour raviver la couleur, réparer le poil et hydrater la peau.</p>

    <p>Complimentez votre chat et rassurez-le pendant tout le bain, ce qui l’aidera à avoir moins peur de l’eau.</p>

  </section>

  <img class="T chiens" src="{{site.baseurl | append:'/assets/img/accueil/Capture8.JPG'}}" style="width: 200px; margin:auto;display:block;" alt="Tête chien"/>

  <section>
    <h2>Le séchage</h2>

    <p>Après le passage d’un pulseur pour éliminer le maximum d’eau, pulvériser sur le poil un conditionneur notamment pour les chats à poils longs ou mi-longs, pour aider à faire glisser les nœuds éventuels au brushing effectué à l’aide d’un séchoir, et d’une brosse adaptée à la race, afin de mettre en place le poil.</p>
  </section>

  <section>
    <h2>Nettoyer les yeux</h2>

    <p>Nettoyer les yeux à l’aide d’une compresse imbibée d'un produit spécialement indiqué pour cet usage . Nettoyer quotidiennement chez le persan pour prévenir la coloration anormale des poils dans le coin de l’œil.</p>
  </section>

</div>
