<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1 horaires">
        <div class="col-wrapper">
          <div class="footer-title">Horaires</div>
          
          <p class="heures">
            Du Mardi au Samedi<br/>
            9h00 – 12h00<br/>
            13h30 – 17h30
          </p>
          <p class="heures">
            Entre 12h00 et 13h30 rendez-vous possible
          </p>
        </div>
      </div>

      <div class="footer-col footer-col-2 footer-contact">
        <div class="col-wrapper">

          <div class="footer-title">Contact</div>
          <div class="tel-container"><span class="tel-label">Tel:</span> <a class="tel" href="tel:{{site.telInter}}">{{site.tel}}</a></div>
          <div class="social-container clearfix">
            <span class="links-container clearfix">
              <a class="facebook-link" href="{{site.facebook}}" rel="noopener" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="instagram-link" href="{{site.instagram}}" rel="noopener" target="_blank"><i class="fab fa-instagram"></i></a>
            </span>
          </div>

          <div class="adresse">
            23 avenue de la République<br/>
            12100 MILLAU
          </div>

        </div>
      </div>

      <!-- <div class="footer-col footer-col-3 adresse">
        <div class="col-wrapper">
          <div class="footer-title">Adresse</div>
          <div class="rue">
            23 avenue de la République<br/>
            12100 MILLAU
          </div>
        </div>
      </div> -->
    </div>

  </div>

</footer>
