<header class="site-header">

  <div class="banner">
    <div class="wrapper">

      <div class="site-title" href="{{ site.baseurl }}/">
        <div class="menu-mobile">
          <i class="fas fa-bars"></i>
        </div>

        <img class="logo-banner" src="{{site.baseurl | append:'/assets/img/logo2.png'}}" alt="Logo bannière" />

        Ambre&C<sup>ie</sup>

      </div>
      <div class="site-subtitle">
        {{ site.titleDisplay }}
      </div>
    </div>
  </div>

  <div class="wrapper">
    <nav class="site-nav">

      <!-- <div class="trigger"> -->
      <div>
        <span class="page">
          <a class="page-link {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">
            <span class="menu-icon menu-icon-niche"></span><span class="title"></span>
          </a>
        </span>
        {% assign sorted_pages = site.pages | where:"level", 1 | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
          <span class="page">
            <a class="page-link {% if my_page.url == page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">
              <span class="menu-icon"></span>
              <span class="title">{{ my_page.title }}</span>
            </a>

            {% assign subpages = site.pages | where:"parent", my_page.title | sort:"order" %}
            {% if subpages.size > 0 %}
            <span class="subpages">
              {% for my_subpage in subpages %}
                {% if my_subpage.title %}
                <a class="page-link {% if my_subpage.url == page.url %}active{% endif %}" href="{{ my_subpage.url | prepend: site.baseurl }}">
                  <span class="menu-icon"></span>
                  <span class="title">{{ my_subpage.title }}</span>
                </a>
                {% endif %}
              {% endfor %}
            </span>
            {% endif %}

          </span>
          {% endif %}
        {% endfor %}
      </div>

    </nav>
  </div>

</header>
