/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    .banner {
      background-color: #FFECD7;
      background-size: 440px;
      margin-bottom: 10px;
      box-shadow: 0 0 4px 4px $marron;
      margin: 4px 4px 12px 4px;

      .wrapper {
        padding: 19px 30px 23px 30px
      }
    }

    .menu-mobile {
      display: none;
      @extend .label-pink;
      position: absolute;
      font-size: 30px;
    }
}

.label-custom {
  font-family: 'Times', cursive;
  font-weight: bold;
  text-shadow:
    3px 3px 0 #fff,
    /* Simulated effect for Firefox and Opera
     and nice enhancement for WebKit */
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px  1px 0 #fff,
    1px  1px 0 #fff;
}

.pink {
  color: $pink;
}

.show-mobile {
  display: none;
}

.separator {
  height: 2px;
  width: 200px;
  background-color: $pink;
  margin: 40px auto;
}

.label-pink {
  @extend .label-custom;
  color: $pink;
}

.label-grey {
  @extend .label-custom;
  color: $grey-color-dark;
}

.label-black {
  @extend .label-custom;
}

.site-title {
    @extend .label-pink;
    display: block;
    text-align: center;
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 0;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &,
    &:visited {
        color: $pink;
    }


    .logo-banner {
      position: absolute;
      left: -62px;
      width: 200px;
      top: 32px;
    }
}


.site-subtitle {
  @extend .label-pink;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
}

.site-nav {
    display: block;

    .menu-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 6px;
      background-image: url($baseurl + '/assets/img/patte-marron.png');
      background-size: 30px;
    }

    .menu-icon-niche {
      background-image: url($baseurl + '/assets/img/niche-marron.png');
    }

    .page {
      display: inline-block;
      position: relative;
      line-height: normal;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
          margin-right: 17px;
      }

      &:hover {
        .subpages {
          display: inline-block;
        }
      }

      .page-link {
        display: inline-block;
        color: $text-color;
        line-height: $base-line-height;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &.active {
          .menu-icon {
            background-image: url($baseurl + '/assets/img/patte-noire.png');
          }

          .menu-icon-niche {
            background-image: url($baseurl + '/assets/img/niche-noire.png');
          }
        }

        .title {
          display: inline-block;
          font-family: 'Times', cursive;
          height: 30px;
          line-height: 30px;
          vertical-align: top;
          padding-top: 2px;
          font-size: 20px;
          color: $pink;
          font-weight: bold;
        }
      }

      .subpages {
        display:none;
        position: absolute;
        top: 100%;
        background-color: #fff;
        left: 20px;
        padding: 5px 20px;
        border: 1px solid $pink;
        z-index: 1;
      }
    }



    @include media-query($on-palm) {
        position: absolute;
        top: 70px;
        left: 0;
        width: 300px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        padding: 10px 0;
        z-index: 1;

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page {
          width: 100%;

          .subpages {
            display: block;
            position: relative;
            border: 0;
            left: 0;
          }

          .page-link {
              display: block;
              padding: 5px 10px;
              margin-left: 0;

              &:not(:last-child) {
                  margin-right: 0;
              }
          }
        }

    }
}



/**
 * Site footer
 */
.site-footer {
    @extend .label-black;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #FFECD7;
    box-shadow: 0 0 4px 4px $marron;
    margin: 4px;
    background-size: 440px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}

.footer-heading {
    @extend .label-pink;
    font-size: 24px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.horaires {
  .heures {
    @extend .label-pink;
    margin-bottom: 5px;
  }
}

.footer-contact {
  color: $grey-color-dark;
}

.tel {
  color: $pink;
}

.adresse {
  color: $pink;
}

.social-container {
  font-size: 22px;
  margin: 10px 0;
  a {
    float: left;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  .instagram-link {
    font-size: 28px;
    margin-top: -2px;
    color: $pink;
  }

  .links-container {
    display: inline-block;
    margin: auto;
  }
}

.footer-title {
  margin-bottom: 10px;
}

.footer-col-wrapper {
    // font-size: 15px;
    // color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    // margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    .col-wrapper {
      padding: 0 10px;
    }
}

.footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

// .footer-col-3 {
//     width: -webkit-calc(30% - (#{$spacing-unit} / 2));
//     width:         calc(30% - (#{$spacing-unit} / 2));
// }

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    // .footer-col-3 {
    //     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    //     width:         calc(100% - (#{$spacing-unit} / 2));
    // }
}

@include media-query($on-palm) {


    .footer-col {
        float: none;
        margin-bottom: $spacing-unit / 2;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-1 {
      margin-bottom: 35px;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
  .subpages {
    .page-link {
      display: inline-block;
      padding: 15px 30px;
      background-color: $beige;
      border: 2px solid $pink;
      border-radius: 5px;
      text-decoration: none;
      margin: 5px 0;

      .title {
        font-size: 24px;
        font-family: 'Times', cursive;
        color: $marron;
      }

      &:hover {
        background-color: #fff;

        .title {
          color: $pink;
        }
      }
    }
  }

  .back-link {
    color: $pink;
    font-family: 'Times', cursive;
    font-size: 20px;
  }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    font-family: 'Times', cursive;
    color: $pink;
    line-height: 1;

    // @include media-query($on-laptop) {
    //     font-size: 36px;
    // }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
      @extend .label-pink;
      text-align: center;
      font-family: 'Times', cursive;
      font-size: 24px;
      margin-top: 40px;

      @include media-query($on-laptop) {
          font-size: 20px;
      }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }

    .toilettage-complet {
      color: $pink;
      margin: 20px 0;

      ul li {
        color: $pink;
      }
    }
}

.left-image {
  position: absolute;
  top: 0;
  right: calc(100% + 20px);
  width: 200px;
}

.right-image {
  position: absolute;
  top: 0;
  left: calc(100% + 20px);
  width: 200px;
}

section {
  position: relative;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

@include media-query($on-medium-screen) {
  .hide-medium-screen {
    display: none;
  }

  .left-image,
  .right-image {
    display: none;
  }
}

@include media-query($on-laptop) {
  .hide-laptop {
    display: none;
  }
}

@include media-query($on-palm) {
  .site-header {
    .banner {
      background-size: 500px;

      .site-title {
        font-size: 36px;

        .logo-banner {
          position: absolute;
          right: 0;
          left: auto;
          width: 60px;
          top: 10px;
        }

      }

      .site-subtitle {
        font-size: 24px;
      }
    }
    .menu-mobile {
      display: block;
    }

    .site-nav {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

}
