.salon {
  margin: auto;
  width: 640px;
  text-align: center;
  line-height: 34px;

  p {
    margin-bottom: 30px;
  }
}



@include media-query($on-laptop) {
  .salon {
    width: auto;
  }
}

@include media-query($on-palm) {

}
