.accessoires{
  .section-accessoires {
    text-align: center;
    margin-top: 40px;

    .monjouet { 
        width: 300px;
        display: block;
        margin: auto;
    }

    .monjouet2 {
        width: 100%;
        display: block;
        margin: auto;
    }

    h2 {
      font-size: 20px;
      margin-top: 0;
    }

    .row {
      .image {
        object-fit: contain;
        height: 200px;
        width: 100%;
        border: 1px solid $grey-color-light;
      }
      .caption {
        margin-top: 10px;
        margin-bottom: 20px;
        .titre {
          font-size: 22px;
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .description  {
          display: block;
        }
      }
    }

    .left-image {
      top: 32px;
    }

    ul {
      margin-bottom: 0;
    }

    .image-coussin {
      padding-left: 20px;
    }

    .images-supplementaires {
      text-align: center;
      .image-supp {
        width: 400px;
        margin-bottom: 20px;
      }
    }

    .columns {
      margin-bottom: 30px;

      .column {
        float: left;
      }
      .column-left {
        width: 70%;
      }
      .column-right {
        width: 30%;
      }
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .accessoires{
    .section-accessoires {
      .image-coussin {
        position: relative;
        bottom: 0;
        padding-left: 0;
      }

      .columns {
        .column {
          width: 100%;
        }
      }
    }
  }
}
