.actualites {

  .image-fidelite,
  .image-ambre {
    width: 500px;
    margin: 30px auto 0 auto;
    display: block;
  }

  .new-section {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: auto;
    .new {
      position: absolute;
      top: 200px;
      left: -240px;
    }
  }



}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .actualites {

    .new-section {  
      text-align: center;
  
      .new {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 10px;
      }
    }
  }
}
 