.alimentation{
  .section-croquettes {
    margin: 40px auto;
    text-align: center;

    .croquettes {
      margin-top: 20px;
      width: 100%;
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .alimentation{

  }

}
