.boutique {
  margin-top: 30px;

  h2 {
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  .boutique-en-ligne {
    display: flex;
    align-items: center;
    height: 219px;
    padding: 20px;
    text-align: center;
    font-size: 28px;
  }

  .new-section {
    .container-left {
      float: left;
      width: 50%;
      padding-right: 20px;
      text-align: center;
    }

    .container-right {
      float: left;
      width: 50%;
      padding-left: 20px;
    }

    .essayage {
      width: 300px;
    }

    .teaser {
      margin-top: 60px;
    }

  }


  .new-section-mug {
    margin: 40px auto 0 auto;
    text-align: center;

    .title {
      color: $pink;
      font-size: 20px;

      .title-content {
        display: inline-block;
        border-radius: 10px;
        padding: 10px 20px;
        border: 2px solid;
      }
    }

    .autres { 
      font-size: 14px;
      margin-bottom: 0;
    }

    .new {
      width: 175px;
    }


    .cadeaux {

      .cadeau {
        width: 200px;
        height: 200px;
        object-fit: cover;
        float: left;
        margin-top: 15px;

        &:nth-child(2) {
          margin: 15px 70px 0 70px;
        }
        &:nth-child(4) {
          margin-left: 135px;
          margin-right: 35px;
        }
        &:nth-child(5) {
          margin-left: 35px;
          margin-right: 135px;
        }
      }
    }

  }
}

@include media-query($on-laptop) {

}

@include media-query($on-palm) {

  .boutique {
    .new-section-mug {
      width: 100%;
      text-align: center;

      .new {
        margin-bottom: 10px;
      }

      .cadeaux { 

        .cadeau {
          width: calc(50% - 5px);
          height: 190px;

          margin-top: 10px;
          margin-bottom: 0;
          margin-right: 10px;
          margin-left: 0;

          &:nth-child(2n) {
            margin-right: 0;
          }

          &:nth-child(2) {
            margin: 10px 0 0 0;
          }
          &:nth-child(4) {
            margin: 10px 0 0 0;
          }
          &:nth-child(5) {
            margin: 10px 10px 0 calc(25% - 2.5px);
          }
        }
      }
    }
  }
}
