.contact {
  font-size: 18px;
  text-align: center;



  .form-contact {
    margin: 20px -10px 70px -10px;

    input,
    textarea {
      padding: 15px 10px;
      margin: 5px 10px;
      border: 0;
      border-bottom: 1px solid $pink;
      float: left;
      box-sizing: border-box;
    }

    .input-form {
      width: calc(50% - 20px);
    }

    .input-subject {
      width: calc(100% - 20px);
    }

    .textarea-form {
      width: calc(100% - 20px);
      font-family: Arial;
    }

    .input-jesuisunbot {
      display: none;
    }

    .submit-button {
      margin: 20px auto;
      padding: 10px 30px;
      background-color: $beige;
      border: 2px solid $pink;
      border-radius: 5px;
      font-family: 'Times', cursive;
      font-size: 20px;
      cursor: pointer;
      display: block;
      float: none;
      color: $marron;

      &:hover {
        background-color: #fff;
        color: $pink;
      }
    }

  }

  .success-message {
    display: none;
  }

  .section-coordonnees {
    margin-bottom: 30px;

    .tel,
    .adresse {
      color: $text-color;
    }
  }

}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .contact {
    .form-contact {
      .input-form {
        width: calc(100% - 20px);
      }
    }
  }
}
