.galerie {

  .galerie-container {
    margin: 0 -20px;
    .galerie-image {
      float: left;
      width: calc(100% / 3);
      box-sizing: border-box;
      padding: 0 20px 20px 20px;
      object-fit: contain;
      height: 226px;
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .galerie {
    .galerie-container {
      margin: 0 -10px;
      .galerie-image {
        width: calc(100% / 2);
          padding: 0 10px 10px 10px;
      }
    }
  }
}
