.home {
  margin-bottom: 40px;

  .page-heading {
      font-size: 30px;
      font-family: 'Times', cursive;
      color: $pink;
      margin: 20px 0 30px 0;
      text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 25px;
  }

  .new {
    float: left;
  }

  .boutique-en-ligne {
    float: right;
    width: calc(100% - 230px);
    display: flex;
    align-items: center;
    height: 219px;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    
    .boutique-en-ligne-texte {
      margin: auto;
    }
  }

  .img-accueil {
    margin: 0 auto;
    width: 80%;
    display: block;
  }

  
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .home {

    .img-accueil {
      width: 100%;
    }

  }

}
