.hygiene{

  h2 {
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
  }

  p {
    text-align: center;
    margin-bottom: 10px;
  }

  .section-shampoings {
    .left-image {
      width: 150px;
    }

    .image-shampoings {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 200px;
    }
    .parfums {
      position: relative;
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .hygiene{
    .section-shampoings {
      .left-image {
        right: 25px;
        display: block;
      }

      .image-shampoings {
        position: relative;
      }
      
    }
  }

}
