.jouets{
  .section-jouets {
    text-align: center;
    margin: 40px auto;


    .monjouet {
      width: 500px;
      display: block;
      margin: auto;

      &.jouet-logo {
        width: 300px;
      }
      &.jouet-banniere {
        width: 100%;
      }
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .jouets{
    .section-jouets {
      .image-jouets {
        position: relative;
      }

      .columns {
        .column {
          width: 100%;
        }
        .column-left-colonne {
          height: auto;
        }
      }
    }
  }
}
