
.pswp__zoom-wrap {
  text-align: center;
  transform: none !important;
  padding: 5%;
  overflow: hidden;
  .pswp__img {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 666px; // to prevent a bug displaying 2 iamges instead of one
  }
}

.pswp__caption {
  .pswp__caption__center {
    max-width: 800px;
    text-align: center;

    .label-pink {
      font-family: Arial;
      text-shadow: none;
    }
  }
}


@include media-query($on-laptop) {

}

@include media-query($on-palm) {

  .pswp__zoom-wrap {
    transform: translate3d(0px, 10%, 0px) scale(1) !important;
    .pswp__img {
      height: 80% !important;
      width: 90% !important;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

}
