.services {
  position: relative;
  text-align: center;
  line-height: 34px;

  .right-image {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
  }

  .toilettage-complet {
    ul {
      margin: auto;
      width: 160px;
      text-align: left;
    }
  }


}



@include media-query($on-laptop) {

}

@include media-query($on-palm) {

}
