.toilettage-chien {
  line-height: 34px;

  .toilettage-complet {
    color: $pink;
    margin: 20px 0;

    ul li {
      color: $pink;
    }
  }

  .table-coupes {
    border: 1px solid $grey-color-dark;

    tr th {
      width: 20%;
    }

    tr td,
    tr th {
      padding: 0 5px;
      text-align: center;
    }
  }

  .section-coupes {
    margin: 40px auto;
    text-align: center;

    .column {
      float: left;
      width: calc((100% - 6px) / 5);
      border-top: 1px solid $pink;
      border-bottom: 1px solid $pink;
      border-right: 1px solid $pink;

      &:nth-child(1) {
        border-left: 1px solid $pink;
      }

      .titre {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: 55px;
        line-height: 24px;
        padding: 0 5px;
        border-bottom: 1px solid $pink;
      }
      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        line-height: 24px;
        height: 170px;
      }
    }
  }
}



@include media-query($on-laptop) {

}

@include media-query($on-palm) {
  .toilettage-chien {
    .section-coupes {
      margin: 0;
      text-align: center;

      .column {
        float: none;
        width: 100%;
        margin-bottom: 20px;

        &:nth-child(1) {
          border-left: 0;
        }

        border: 0;

        .titre {
          height: auto;
          padding: 0;
          border-bottom: 0;
        }
        .description {
          padding: 0;
          height: auto;
        }
      }
    }
  }

}
