<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    {% include footer.html %}

    <script src="{{ site.baseurl | append:'/assets/js/menu.js'}}"></script>
    <script src="{{ site.baseurl | append:'/assets/js/contact.js'}}"></script>
    {% if page.url == '/galerie/' or page.url == '/services/boutique/accessoires/' or page.url == '/services/boutique/jouets/' %}
      <!-- Core JS file -->
      <script src="{{ site.baseurl | append:'/assets/library/Photoswipe/photoswipe.min.js'}}"></script>

      <!-- UI JS file -->
      <script src="{{ site.baseurl | append:'/assets/library/Photoswipe/photoswipe-ui-default.min.js'}}"></script>

      <script>
        (function(w, d){
            var b = d.getElementsByTagName('body')[0];
            var s = d.createElement("script");
            var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0";
            s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
            s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
            w.lazyLoadOptions = {/* Your options here */};
            b.appendChild(s);
        }(window, document));

        window.onload= function() {
          var myLazyLoad = new LazyLoad({
              elements_selector: ".lazy"
          });
        };

      </script>

    {% endif %}
    <!-- UI JS file -->
    <script src="{{ site.baseurl | append:'/assets/js/galerie.js'}}"></script>
    <script src="{{ site.baseurl | append:'/assets/js/main.js'}}"></script>



    {% if page.url == '/contact/' %}
    <script>
      /**
      * Moves the map to display over Berlin
      *
      * @param  {H.Map} map      A HERE Map instance within the application
      */
      function moveMapToMillau(map){
        map.setCenter({lat:44.101431, lng:3.077383});
        map.setZoom(17);
      }

      /**
      * Boilerplate map initialization code starts below:
      */

      //Step 1: initialize communication with the platform
      var platform = new H.service.Platform({
        apikey: '{{ site.hereapikey }}',
        useCIT: true,
        useHTTPS: true
      });
      var pixelRatio = window.devicePixelRatio || 1;
      var defaultLayers = platform.createDefaultLayers({
        tileSize: pixelRatio === 1 ? 256 : 512,
        ppi: pixelRatio === 1 ? undefined : 320
      });

      //Step 2: initialize a map  - not specificing a location will give a whole world view.
      var map = new H.Map(document.getElementById('mapContainer'),
      defaultLayers.vector.normal.map, {pixelRatio: pixelRatio});

      //Step 3: make the map interactive
      // MapEvents enables the event system
      // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
      var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      // Create the default UI components
      var ui = H.ui.UI.createDefault(map, defaultLayers);

      // Now use the map as required...
      moveMapToMillau(map);

      // Create a marker icon from an image URL:
      // var iconOptions = new H.map.Icon.Options({size: 50});
      var icon = new H.map.Icon('/assets/img/logo-map.png');

      // Create a marker using the previously instantiated icon:
      var marker = new H.map.Marker({lat:44.101431, lng:3.077383}, { icon: icon });

      // Add the marker to the map:
      map.addObject(marker);

    </script>
    {% endif %}


  </body>

</html>
