---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

  </header>

  {% assign subpages = site.pages | where:"parent", page.title | sort:"order" %}
  {% if subpages.size > 0 %}
  <span class="subpages">
    {% for my_subpage in subpages %}
      {% if my_subpage.title %}
      <a class="page-link {% if my_subpage.url == page.url %}active{% endif %}" href="{{ my_subpage.url | prepend: site.baseurl }}">
        <span class="title">{{ my_subpage.title }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.parentUrl %}
  <div>
    <a class="back-link" href="{{ page.parentUrl | prepend: page.baseurl }}">
      <span class="title"><i class="fas fa-long-arrow-alt-left"></i> {{ page.parent }}</span>
    </a>
  </div>
  {% endif %}
</article>
